<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>Instagram</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
          rel="stylesheet">
    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        input:focus {
            outline: none;
            border: none
        }

        .feed_box {
            background-color: white;
            width: 480px;
            margin-bottom: 15px;
            min-height: auto;
            border: solid 1px gray;
        }

        .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light" style="position: fixed; width: 100%">
    <div class="container-fluid" style="justify-content: space-between; flex-wrap: nowrap; min-width: 1000px">
        <a class="navbar-brand" href="#"><img style="width: 100px"
                                              src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"></a>
        <input class="form-control me-2" style="width: 400px" type="search" placeholder="Search" aria-label="Search">
        <div>
            <span class="material-icons">home</span>
            <span class="material-icons-outlined">send</span>
            <span id="nav_bar_add_box" class="material-icons-outlined">add_box</span>
            <span class="material-icons-outlined">explore</span>
            <span class="material-icons-outlined">favorite_border</span>
        </div>
    </div>
</nav>
<div style="display: flex;flex-direction: row; text-align: center; justify-content: center; padding-top: 61px; background-color: #FAFAFA">
    <div style="width: 500px; min-width: 500px; height: 1000px; margin-right: 300px; padding-top:1px;">
        <!-- 피드박스 -->
        {% for feed in feed_list %}
            <div class="feed_box">
                <div style="display: flex; flex-direction: row; align-items: center; margin-left: 3px">
                    <div class="box" style="width: 45px; height: 45px;">
                        <img class="profile"
                             src="{{ feed.profile_image }}">
                    </div>
                    <div style="margin-left: 5px">
                        {{ feed.user_id }}
                    </div>
                </div>
                <div>
                    <img style="width:100%;" src="{% get_media_prefix %}{{ feed.image }}">
                </div>
                <div style="margin: 0 10px; display: flex; flex-direction: row; justify-content: space-between">
                    <div>
                        <span class="material-icons-outlined">favorite_border</span>
                        <span class="material-icons-outlined">mode_comment</span>
                        <span class="material-icons-outlined">send</span>
                    </div>
                    <div>
                        <span class="material-icons-outlined">bookmark_border</span>
                    </div>
                </div>
                <div style="margin: 0 10px; text-align: left; font-size:14px">춘식이 <b>외 {{ feed.like_count }}명</b>이
                    좋아합니다.
                </div>
                <div style="margin: 0 10px; text-align: left; font-size:16px">
                    <b>{{ feed.user_id }}</b> {{ feed.content }}
                </div>
                <div style="margin: 0 10px; text-align: left; font-size:14px"><b>sicacc</b> 나도 제주도 가고 싶다.</div>
                <div style="margin: 0 10px; text-align: left; font-size:14px"><b>copdis</b> 외국인 많나요</div>
                <div style="display: flex; flex-direction: row; align-items: center; border-top: solid 1px gray">
                    <input style="box-shadow: none; border:none; outline: none" type="text" class="form-control"
                           placeholder="댓글 달기...">
                </div>
            </div>
        {% endfor %}

    </div>
    <div style="width: 400px; height: 1000px; position: fixed; left: 62%">
        <div style="display: flex; flex-direction: row; align-items: center; margin-left: 3px">
            <div class="box" style="width: 65px; height: 65px">
                <img class="profile"
                     src="https://dispatch.cdnser.be/wp-content/uploads/2018/03/2da3a9715f273c35f60a038061679457.png">
            </div>
            <div style="margin-left: 10px; text-align: left">
                <div style="font-weight: bold">
                    {{ user.nickname }}
                </div>
                <div style="color: gray">
                    {{ user.name }}
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="font-weight: bold; color: gray">
                회원님을 추천
            </div>
            <div>
                <a href="#" style="text-decoration: none; color: black; font-weight: bold">모두 보기</a>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center;">
            <div style="display: flex; flex-direction: row;">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="https://blog.kakaocdn.net/dn/bw0VWM/btqNfsiSHi3/1sBuK2BqjLQZC6yCcbkEo0/img.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold">
                        findintete
                    </div>
                    <div style="color: gray">
                        seungwonbang님 외 5명이 팔로우합니다.
                    </div>

                </div>
                <div style="">
                    <a href="#" style="font-size: 14px; color: blue; text-decoration: none; font-weight: bold">팔로우</a>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center;">
            <div style="display: flex; flex-direction: row;">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="https://blog.kakaocdn.net/dn/bw0VWM/btqNfsiSHi3/1sBuK2BqjLQZC6yCcbkEo0/img.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold">
                        findintete
                    </div>
                    <div style="color: gray">
                        seungwonbang님 외 5명이 팔로우합니다.
                    </div>

                </div>
                <div style="">
                    <a href="#" style="font-size: 14px; color: blue; text-decoration: none; font-weight: bold">팔로우</a>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center;">
            <div style="display: flex; flex-direction: row;">
                <div class="box" style="width: 35px; height: 35px">
                    <img class="profile"
                         src="https://blog.kakaocdn.net/dn/bw0VWM/btqNfsiSHi3/1sBuK2BqjLQZC6yCcbkEo0/img.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold">
                        findintete
                    </div>
                    <div style="color: gray">
                        seungwonbang님 외 5명이 팔로우합니다.
                    </div>

                </div>
                <div style="">
                    <a href="#" style="font-size: 14px; color: blue; text-decoration: none; font-weight: bold">팔로우</a>
                </div>
            </div>
        </div>
        <div style="margin-top: 50px; font-size: 12px; color: gray; text-align: left">
            소개 도움말 홍보센터 API 채용정보<br>
            개인정보처리방침 약관 위치 언어<br>
        </div>
        <div style="margin-top: 20px; font-size: 12px; color: gray; text-align: left">
            ©2022 INSTAGRAM FROM META
        </div>
    </div>
</div>

<!-- 첫번째 모달-->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 30px">
            </div>
            <div>
                새 이미지 업로드
            </div>
            <div id="close_modal" style="width: 30px">
                <span class="material-icons-outlined">close</span>
            </div>
        </div>
        <div class="img_upload_space"
             style="border-top: 1px gray solid; background: white; width: 778px; height: 540px; margin-top: 10px">

        </div>
    </div>
</div>

<!-- 두번째 모달-->
<div id="second_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 30px">
            </div>
            <div>
                새 이미지 업로드
            </div>
            <div id="close_modal" style="width: 30px">
                <span class="material-icons-outlined">close</span>
            </div>
        </div>
        <div style="border-top: 1px gray solid; display: flex; flex-direction: row; margin-top: 10px">
            <div class="img_upload_space" style="width: 500px; height: 540px;">

            </div>
            <div style="border-left: 1px solid gray">
                <div>
                    <textarea id="input_feed_content" class="form-control" id="exampleFormControlTextarea1" rows="5" style="width: 276px; height: 400px"></textarea>
                </div>
                <div>
                    <button id="feed-create-button" type="button" class="btn btn-primary" style="width: 100%">공유하기</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

<!-- create 창 -->
<script>

    let files;

    $('#nav_bar_add_box').click(function () {
        $('#first_modal').css({
            display: 'flex',
        });
        $(document.body).css({
            overflow: 'hidden'
        });
    });

    $('#feed-create-button').click(function (){
       alert('클릭' + $('#input_feed_content').val());

       let file = files[0];
       let image = files[0].name;
       let content = $('#input_feed_content').val();
       let user_id = 'dlwlrma';
       let profile_image = 'https://dispatch.cdnser.be/wp-content/uploads/2018/03/2da3a9715f273c35f60a038061679457.png';

       let fd = new FormData();
       fd.append('file', file);
       fd.append('image', image);
       fd.append('content', content);
       fd.append('user_id', user_id);
       fd.append('profile_image', profile_image);

       $.ajax({
           url: "/content/upload",
           data: fd,
           method: "POST",
           processData: false,
           contentType: false,
           success: function(data){
               console.log("성공");
           },
           error: function(request, status, error){
               console.log("실패");
           },
           complete: function(){
               console.log("완료");
               location.replace("/");
           }
       })
    });

    $('.img_upload_space')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);

    function dragOver(e) {
        e.stopPropagation();
        e.preventDefault();
        if (e.type == "dragover") {
            $(e.target).css({
                "background-color": "black",
                "outline-offset": "-20px"
            });
        } else {
            $(e.target).css({
                "outline-offset": "-10px"
            });
        }
    }

    function uploadFiles(e) {
        e.stopPropagation();
        e.preventDefault();

        e.dataTransfer = e.originalEvent.dataTransfer;
        files = e.dataTransfer.files;

        if (files.length > 1) {
            alert('하나만 올려라.');
            return;
        }

        if (files[0].type.match(/image.*/)) {
            $('#first_modal').css({
                display: 'none'
            });
            $('#second_modal').css({
                display: 'flex'
            });

            $('.img_upload_space').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                "outline": "none",
                "background-size": "100%",
                "background-repeat": "no-repeat",
                "background-position": "center"
            });
        } else {
            alert('이미지가 아닙니다.');
            return;
        }

    }</script>
</body>
</html>